In [1]:
import pandas as pd
import numpy as np

In [2]:
files = [
    'model-01-lgb-test-one.csv', 
    'model-03-lgb-feats-selection-test-one.csv', 
    'model-04-lgb-PCA-test-one.csv', 
    'model-05-lgb-wo-per-area-test-one.csv',
    'model-06-lgb-lr0.001-test-one.csv', 
    'model-07-keras-embedding-test-kfold.csv'
]

In [3]:
dfs = [pd.read_csv('output/'+f) for f in files]

In [4]:
for df in dfs:
    assert (df['building_id'] == dfs[0]['building_id']).all()

In [5]:
df_merge = dfs[0][['building_id']].copy()

In [6]:
for i, df in enumerate(dfs):
    df_merge[str(i)] = np.log1p(df['total_price'])

In [8]:
df_merge['total_price'] = np.expm1(df_merge.loc[:, [str(i) for i, df in enumerate(dfs)]].mean(axis=1))

In [9]:
df_merge.head()

,building_id,0,1,2,3,4,5,total_price
0,X5gsdTWGS3W7JJQB,16.541343,16.544464,16.268698,16.373828,16.482795,16.506966,1.397829e+07
1,BTshNOJyKHnT2YIT,15.182684,15.196062,15.202014,15.183385,15.191124,15.149925,3.930191e+06
2,dhdymr0lV8N5kZOT,16.209879,16.199646,16.326825,16.245796,16.208905,16.254825,1.130753e+07
3,VEwyGGMcD56w5BOc,15.632865,15.609807,15.605771,15.579007,15.614263,15.625781,6.023919e+06
4,wmUeMoJZfsqaSX9b,13.876602,13.842395,13.937332,13.846228,13.870488,13.854095,1.057258e+06

In [14]:
df_merge.tail()

,building_id,0,1,2,3,4,5,total_price
9995,UEeCDaAJzPwdKKKA,14.027735,14.032509,14.010654,14.079754,14.013976,13.984596,1.232888e+06
9996,i0fgbPaQsDWs7Q87,17.710780,17.714823,17.722841,17.607063,17.707522,17.651077,4.795071e+07
9997,YunNwAhcqkf6YclI,13.891861,13.882116,13.910557,13.930125,13.900494,13.878740,1.087053e+06
9998,A2NotxtRY9MYoWMl,14.908307,14.897929,14.910499,14.903969,14.891862,14.908981,2.968570e+06
9999,kKvgBXiA50gRmQhP,14.955457,14.965798,15.031608,14.843194,14.971763,14.869160,3.077094e+06

In [10]:
df_merge['total_price'].min(), df_merge['total_price'].max()

(211128.5276567009, 2146896965.3398123)

In [13]:
assert df_merge['total_price'].isnull().sum() == 0, 'some null value!'

In [15]:
df_merge.loc[:, ['building_id', 'total_price']].to_csv(
    'output/stack_mean_04_1,3-7_model7-kfold.csv', index=False)